.margen{
  margin-bottom: 20px;
}

.center-man{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-man h1{
  margin-left: 10px;
}

.li-hover:hover{
  color: orange;
}

.li-hover ul li:hover{
  background-color: rgba(295,195,0,.45);
  border-radius: 10px;
}

.li-hover ul li a:hover{
  color: red;
  font-weight: bold;
}
